@model Imo.Models.UpdateImovelViewModel
@{
}

<h1>Atualizar Imóvel</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="Id" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Nome">
    </div>
    <div class="mb-3">
        <label for="Tipo" class="form-label">Tipo de Imóvel</label>
        <select class="form-select" asp-for="Tipo">
            <option value="Apartamento">Apartamento</option>
            <option value="Morada">Morada</option>
            <option value="Quinta">Quinta</option>
            <option value="Terreno">Terreno</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="TipoNegocio" class="form-label">Tipo de Negócio</label>
        <select class="form-select" asp-for="TipoNegocio">
            <option value="Comprar">Comprar</option>
            <option value="Arrendar">Arrendar</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="Localizacao" class="form-label">Localização</label>
        <textarea class="form-control" rows="2" asp-for="Localizacao"></textarea>
    </div>
    <div class="mb-3">
        <label for="Descricao" class="form-label">Descrição</label>
        <textarea class="form-control" rows="3" asp-for="Descricao"></textarea>
    </div>
    <div class="mb-3">
        <label for="Preco" class="form-label">Preço</label>
        <input type="text" class="form-control" asp-for="Preco">
    </div>
    <div class="mb-3">
        <label for="ContactoFone" class="form-label">Telefone</label>
        <input type="text" class="form-control" asp-for="ContactoFone">
    </div>
    <div class="mb-3">
        <label for="ContactoEmail" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="ContactoEmail">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Imovel">
        Excluir
    </button>
</form>
