@using Microsoft.AspNetCore.Authorization;
<!DOCTYPE html>
<html>
@attribute [Authorize]
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .search-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

            .search-container h1 {
                font-size: 28px;
                margin-bottom: 20px;
                color: #007bff;
            }

        .form-check label {
            font-weight: bold;
        }

        .form-select,
        .form-control {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ced4da;
            margin-bottom: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .image-container {
            margin-top: 30px;
        }

            .image-container img {
                max-width: 100%;
                margin-bottom: 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            }
    </style>
</head>

<body>
    <div class="container">
        <form method="get" action="@Url.RouteUrl("customIndexImovel")" class="mt-5">
        <div class="text-center search-container">
            <h1 class="display-4">Bem-vindo à Aplicação Imo</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled">
                <label class="form-check-label" for="flexRadioDisabled">
                    Comprar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled">
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                    Arrendar
                </label>
            </div>
            <label for="disabledSelect" class="form-label">Tipo de Imóvel</label>
            <select id="disabledSelect" class="form-select">
                <option>Apartamento</option>
                <option>Morada</option>
                <option>Quinta</option>
                <option>Terreno</option>
            </select>
            <button type="search" class="btn btn-primary">Procurar</button>
        </div>
        <div class="row text-center image-container">
           
            <div class="col-md-6">
                <img src="image\Imagem_Home1.jpg" alt="Imagem 1">
            </div>
            <div class="col-md-6">
                <img src="image\Imagem_Home2.jpg" alt="Imagem 2">
            </div>
        </div>
        <div class="row text-center image-container">
            <div class="col-md-6">
                <img src="image\Imagem_Home3.jpg" alt="Imagem 3">
            </div>
            <div class="col-md-6">
                <img src="image\Imagem_Home4.jpg" alt="Imagem 4">
            </div>
        </div>
        </form>
    </div>
</body>

</html>
